<c-row class="mb-4">
    <c-col [lg]="8">
        <h4>Expense</h4>
    </c-col>
    <c-col [lg]="4" align="right">
        <button type="button" class="btn btn-primary" (click)="addExpense()">Add expense</button>
    </c-col>
</c-row>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- No. Column -->
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 + paginator.pageIndex * paginator.pageSize }} </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount | number:'1.2-2'}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date:'M/d/yyy'}} </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{element?.category?.name}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="th-icon-size"> Edit </th>
            <td mat-cell *matCellDef="let element" class="td-icon-size">
                <i class="c-icon cil-pencil card-icon" (click)="editExpense(element)"></i>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="th-icon-size"> Delete </th>
            <td mat-cell *matCellDef="let element" class="td-icon-size">
                <i class="c-icon cil-trash card-icon" (click)="deleteExpense(element.id)"></i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>